.tabs {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.tabsList {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  border-bottom: 1px solid gainsboro;
}

.tabsContainer {
  padding: 24px;
}

.tab {
  font: inherit;
  padding: 12px 16px;
  font-size: 0.875rem;
  cursor: pointer;
  user-select: none;
}

.tab.active {
  padding-bottom: 10px;
  color: #1976d2;
  border-bottom: 2px solid #1976d2;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid #514b82;
  animation:
    l20-1 0.8s infinite linear alternate,
    l20-2 1.6s infinite linear;
}
