.treeContainer {
  flex-direction: column;
  display: flex;
}

.treeNode {
  display: flex;
  flex-direction: column;

  &selected {
    background-color: rgb(161, 158, 158);
  }
}

.treeNodeHeader {
  display: flex;
  align-items: center;
  gap: 8px;

  padding: 6px 15px;
  border-radius: 6px;

  cursor: pointer;
  user-select: none;
}

.treeNodeHeader:not(.isSelected):hover {
  background: #f3f4f6;
}


.isSelected {
  background: #bfdbfe;
}

.treeNodeArrow {
  width: 16px;
  font-size: 12px;
  display: flex;
  justify-content: center;
}

.treeNodeChildren {
  margin-left: 20px;
  padding-left: 8px;

  border-left: 1px solid #ddd;
}

.indicator {
    margin-left: auto;
}